<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <a href="/signup"><span>Add User</span></a>
  <br />
  <br />
  <a href="/listUser"><span>list users</span></a>
</body>
</html>